<div class='main'>
    <div class='container-fluid'>
        <!-- Breadcrumbs -->
        <div id='breadcrumb'>
            <div class='row'>
                <div class='col-md-12'>
                    <ul class='breadcrumb-tree'>
                        <li class='active'>Danh sách đơn hàng chờ sách nhận</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- DataTables -->
        <div class='data-table'>
            <div class='table-title'>
                <div class='table-content'>
                    <i class='fa-solid fa-table'></i>
                    Danh sách đơn hàng
                </div>
            </div>
            <div class='table-body'>
                <div class='table-responsive'>
                    <table class='table table-bordered' id='dataTable' width='100%' cellspacing='0'>
                        <thead>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Mã người dùng</th>
                                <th>Ngày đặt hàng</th>
                                <th>Tổng tiền</th>
                                <th>Phương thức thanh toán</th>
                                <th>Xác nhận đơn hàng</th>
                                <th>Hủy đơn</th>
                            </tr>
                        </thead>
                        <tbody id='list'>
                            {{#if listOrders}}
                                {{#each listOrders}}
                                    <tr class='item'>
                                        <th scope='row'>{{this.PurchaseOrderID}}</th>
                                        <th>{{this.UserID}}</th>
                                        <td>{{this.OrderDate}}</td>
                                        <td>{{this.Total}}</td>
                                        <td>{{this.PaymentMethod}}</td>
                                        <td class='d-flex justify-content-center'>
                                            <a href='/order/confirm/{{this.PurchaseOrderID}}'>
                                                <button type='button' class='btn btn-outline-primary'>Xác nhận</button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href='/order/cancel/{{this.PurchaseOrderID}}'>
                                                <button type='button' class='btn btn-outline-danger'>Hủy</button>
                                            </a>
                                        </td>
                                    </tr>
                                {{/each}}
                            {{/if}}
                        </tbody>
                    </table>
                    <ul class='listPage'></ul>
                </div>
            </div>
        </div>
    </div>
</div>